
:root {
    --primary-color: #D91656;
    --secondary-color: #640D5F;
    --text-light: #ffffff;
    --text-dark: #EB5B00;
    --accent-color: #FFB200;
}

body {
    overflow: hidden;
    background-color: var(--primary-color);
}

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    height: 90vh;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 45vw;
    height: 75vh;
    background-color: var(--accent-color);
    border-radius: 8px;
    margin-left: 20px;
    box-shadow: 0 12px 8px rgba(100, 13, 95, 0.4);
    justify-content: space-between;
    
  }

  /* .menu-title{
    max-width: 45vw;
    max-height: 75vh; 
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
  } */

  .img-container {
    width: 45vw;
    height: 75vh;
    position: relative;
    margin-top: 10%;
  }

  .img-container img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }

  .img-container img#weight {
    width: 55%;
    bottom: 8.5vh;
    right: 5vh;
    z-index: 100;
  }

  .img-container img#bench {
    left:0;
    bottom: 10vh;
  }


/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
  } */